<a href="https://colab.research.google.com/github/zzaeyun/ESAA22-2/blob/main/%EB%91%90%EC%9E%87%ED%8C%90%EB%8B%A4%EC%8A%A4_241to242_256to263.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **12-1 datetime 오브젝트**

datetime 라이브러리: 날짜, 시간 처리
- date 오브젝트: 날짜
- time 오브젝트: 시간
- datetime 오브젝트: 날짜와 시간 포함

1. datetime 오브젝트를 사용을 위한 datetime 라이브러리 호출

In [1]:
from datetime import datetime

2. now, today 메서드: 현재 시간 출력

In [2]:
now1=datetime.now()
print( now1)

2022-10-10 07:05:02.140072

In [3]:
now2=datetime.today()
print(now2)

2022-10-10 07:05:02.177782

3. datetime 오브젝트를 생성할 때, 시간을 직접 입력하여 인자로 전달

In [4]:
t1=datetime.now()
t2=datetime(1970, 1, 1)
t3=datetime(1970, 12, 12, 13, 24, 34)

print(t1)
print(t2)
print(t3)

2022-10-10 07:05:02.192418
1970-01-01 00:00:00
1970-12-12 13:24:34

4. datetime 오브젝트는 시간 계산이 가능

In [5]:
diff1=t1-t2

print(diff1)
print(type(diff1))

19275 days, 7:05:02.192418
<class 'datetime.timedelta'>

In [6]:
diff2=t2-t1
print(diff2)
print(type(diff2))

-19276 days, 16:54:57.807582
<class 'datetime.timedelta'>

테슬라 주식 데이터로 시간 계산하기

In [7]:
!pip instal pandas-datareader

ERROR: unknown command "instal" - maybe you meant "install"

In [9]:
import pandas as pd

In [12]:
pd.core.common.is_list_like=pd.api.types.is_list_like
import pandas_datareader as pdr

tesla=pdr.get_data_quandl('TSLA', api_key='2yNp7CjHR4sqdCZKV5ds')

tesla.to_csv('/data/tesla_stock_quandl.csv')

In [13]:
print(tesla.head())

              Open    High     Low   Close      Volume  ExDividend  \
Date
2018-03-27  304.00  304.27  277.18  279.18  13696168.0         0.0
2018-03-26  307.34  307.59  291.36  304.18   8324639.0         0.0
2018-03-23  311.25  311.61  300.45  301.54   6600538.0         0.0
2018-03-22  313.89  318.82  308.18  309.10   4914307.0         0.0
2018-03-21  310.25  322.44  310.19  316.53   5927881.0         0.0

            SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose   AdjVolume
Date
2018-03-27         1.0   304.00   304.27  277.18    279.18  13696168.0
2018-03-26         1.0   307.34   307.59  291.36    304.18   8324639.0
2018-03-23         1.0   311.25   311.61  300.45    301.54   6600538.0
2018-03-22         1.0   313.89   318.82  308.18    309.10   4914307.0
2018-03-21         1.0   310.25   322.44  310.19    316.53   5927881.0

In [14]:
tesla=pd.read_csv('/data/tesla_stock_quandl.csv', parse_dates=[0])
print(tesla.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114 entries, 0 to 113
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        114 non-null    datetime64[ns]
 1   Open        114 non-null    float64
 2   High        114 non-null    float64
 3   Low         114 non-null    float64
 4   Close       114 non-null    float64
 5   Volume      114 non-null    float64
 6   ExDividend  114 non-null    float64
 7   SplitRatio  114 non-null    float64
 8   AdjOpen     114 non-null    float64
 9   AdjHigh     114 non-null    float64
 10  AdjLow      114 non-null    float64
 11  AdjClose    114 non-null    float64
 12  AdjVolume   114 non-null    float64
dtypes: datetime64[ns](1), float64(12)
memory usage: 11.7 KB
None

In [21]:
print(tesla.loc[(tesla.Date.dt.year==2010)&(tesla.Date.dt.month==6)])

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Volume, ExDividend, SplitRatio, AdjOpen, AdjHigh, AdjLow, AdjClose, AdjVolume]
Index: []

DatetimeIndex

datetime 오브젝트를 인덱스로 설정해 데이터 추출하기

In [22]:
tesla.index=tesla['Date']
print(tesla.index)

DatetimeIndex(['2018-03-27', '2018-03-26', '2018-03-23', '2018-03-22',
               '2018-03-21', '2018-03-20', '2018-03-19', '2018-03-16',
               '2018-03-15', '2018-03-14',
               ...
               '2017-10-24', '2017-10-23', '2017-10-20', '2017-10-19',
               '2017-10-18', '2017-10-17', '2017-10-16', '2017-10-13',
               '2017-10-12', '2017-10-11'],
              dtype='datetime64[ns]', name='Date', length=114, freq=None)

In [23]:
print(tesla['2015'].iloc[:5,:5])
#2015년 데이터

Empty DataFrame
Columns: [Date, Open, High, Low, Close]
Index: []

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  """Entry point for launching an IPython kernel.

In [26]:
print(tesla['2010-06'].iloc[:,:5])

Empty DataFrame
Columns: [Date, Open, High, Low, Close]
Index: []

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  """Entry point for launching an IPython kernel.

TimedeltaIndex
시간간격으로 인덱스 설정

In [27]:
tesla['ref_date']=tesla['Date']-tesla['Date'].min()

In [28]:
tesla.index=tesla['ref_date']
print(tesla.iloc[:5,:5])

               Date    Open    High     Low   Close
ref_date
167 days 2018-03-27  304.00  304.27  277.18  279.18
166 days 2018-03-26  307.34  307.59  291.36  304.18
163 days 2018-03-23  311.25  311.61  300.45  301.54
162 days 2018-03-22  313.89  318.82  308.18  309.10
161 days 2018-03-21  310.25  322.44  310.19  316.53

In [29]:
#데이터 수집한 이후 최초 5일

print(tesla['5 days':].iloc[:5,:5])

               Date    Open    High     Low   Close
ref_date
5 days   2017-10-16  353.76  354.48  347.16  350.60
2 days   2017-10-13  356.98  358.49  353.68  355.57
1 days   2017-10-12  352.95  359.78  352.64  355.68
0 days   2017-10-11  353.89  357.60  351.15  354.60

**시간범위를 생성하여 인덱스로**

누락된 데이터도 포함시켜 데이터를 살펴보려면 시간 범위를 생성하여 인덱스 지정

In [32]:
ebola=pd.read_csv('https://raw.githubusercontent.com/cmrivers/ebola/master/country_timeseries.csv', parse_dates=[0])
print(ebola.iloc[:5,:5])

        Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0 2015-01-05  289        2776.0            NaN            10030.0
1 2015-01-04  288        2775.0            NaN             9780.0
2 2015-01-03  287        2769.0         8166.0             9722.0
3 2015-01-02  286           NaN         8157.0                NaN
4 2014-12-31  284        2730.0         8115.0             9633.0

In [33]:
print(ebola.iloc[-5:,:5])

          Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
117 2014-03-27    5         103.0            8.0                6.0
118 2014-03-26    4          86.0            NaN                NaN
119 2014-03-25    3          86.0            NaN                NaN
120 2014-03-24    2          86.0            NaN                NaN
121 2014-03-22    0          49.0            NaN                NaN

In [34]:
head_range=pd.date_range(start='2014-12-31', end='2015-01-05')
print(head_range)

DatetimeIndex(['2014-12-31', '2015-01-01', '2015-01-02', '2015-01-03',
               '2015-01-04', '2015-01-05'],
              dtype='datetime64[ns]', freq='D')

In [35]:
ebola_5=ebola.head()
ebola_5.index=ebola_5['Date']
ebola_5.reindex(head_range)
print(ebola_5.iloc[:5,:5])

                 Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
Date
2015-01-05 2015-01-05  289        2776.0            NaN            10030.0
2015-01-04 2015-01-04  288        2775.0            NaN             9780.0
2015-01-03 2015-01-03  287        2769.0         8166.0             9722.0
2015-01-02 2015-01-02  286           NaN         8157.0                NaN
2014-12-31 2014-12-31  284        2730.0         8115.0             9633.0

**시간 범위의 주기 설정하기**

DatetimeIndex의 feq 속성값으로 지정할 수 있는 시간 주기


- B: 평일만 포함
- C: 사용자가 정의한 평일만 포함
- D: 달력 일자 담위
- W: 주간 단위
- M: 월 마지막 날만 포함
- SM: 15일과 월 마지막 날만 포함
- BM: M 주기의 값이 휴일이면 제외하고 평일만 포함
- CBM: 월 시작일만 포함
- SMS: 월 시작일과 15일만 포함
- BMS: MS 주기의 값이 휴일이면 제외하고 평일만 포함
- CBMS: BMS에 사용자 정의 평일을 적용
- Q; 3, 6, 9, 12월 분기 마지막 날만 포함
- BQ: 3, 6, 9, 12월 분기 마지막 날이 휴일이면 제외하고 평일만 포함
- QS: 3, 6, 9, 12월 분기 시작일만 포함
- BQS: 3, 6, 9, 12월 분기 시작일이 휴일이면 제외하고 평일만 포함
- A: 년의 마지막 날만 포함
- BA: 년의 마지막 날이 휴일이면 제외하고 평일만 포함
- AS: 년의 시작일만 포함
- BAS: 년의 시작일이 휴일이면 제외하고 평일만 포함
- BH: 평일을 시간 단위로 포함(09:00~16:00)
- H: 시간 단위로 포함(00:00~00:00)
- T: 분 단위 퐇ㅁ
- S: 초 단위 포함
- L: 밀리초 단위 포함
- U: 마이크로초 단위 포함
- N: 나노초 단위 포함

In [37]:
print(pd.date_range('2017-01-01','2017-01-02', freq='T'))

DatetimeIndex(['2017-01-01 00:00:00', '2017-01-01 00:01:00',
               '2017-01-01 00:02:00', '2017-01-01 00:03:00',
               '2017-01-01 00:04:00', '2017-01-01 00:05:00',
               '2017-01-01 00:06:00', '2017-01-01 00:07:00',
               '2017-01-01 00:08:00', '2017-01-01 00:09:00',
               ...
               '2017-01-01 23:51:00', '2017-01-01 23:52:00',
               '2017-01-01 23:53:00', '2017-01-01 23:54:00',
               '2017-01-01 23:55:00', '2017-01-01 23:56:00',
               '2017-01-01 23:57:00', '2017-01-01 23:58:00',
               '2017-01-01 23:59:00', '2017-01-02 00:00:00'],
              dtype='datetime64[ns]', length=1441, freq='T')